<link rel="stylesheet" type="text/css" media="screen" href="/style/bill.css" />
<script src="/javascript/bill.js"></script>

<h2 id="title">Quản lý đơn hàng</h2>

<section id="nav">
    <a data-quote="all" href="/admin/bill">Tất cả</a>
    
    {{#each status}}
    <a data-quote="product{{id}}" href="/admin/bill/{{id}}">{{statusName}}</a>
    {{/each}}
</section>

{{#each transactions}}
<div class="products product{{StatusId}}" id="{{id}}">
    <img src="/images/product_home/i1.jpeg" alt="img">
    <div class="describe">
        <a class="title" href="">Áo thun nam</a>
        <p>Số lượng: {{num}}</p>
        <p>Tổng giá: {{totalPricing}}</p>
        <p>Khách hàng:
            <a href="/admin/customer">{{Customer.name}}</a>
        </p>
        <p>Địa chỉ: {{address}}</p>
        <div class="inline">
            <p>{{formatDate updatedAt year="numeric" month="narrow" day="numeric" hour="numeric" minute="numeric"}}</p>
            <p>Tình trạng: {{Status.statusName}}</p>
            <a onclick="return edit(12)" href="#">Chi tiết >></a>
        </div>
    </div>
</div>    
{{/each}}
{{>pagination}}
<div class="overlay edit-customer" style="display: none;">
    <div class="login-wrapper">
        <div class="login-content">
            <a onclick="return exit()" class="close">x</a>
            <h3>Đơn hàng</h3>
            <form>
                <div class="image">
                    <img src="/images/admin/none.jpg" alt="none">
                    <input type="file" name="mf" id="mf">
                    <br>
                    <br>
                    <label for="mu">URL: </label>
                    <input type="url" name="mu" id="mu">
                    <br>
                </div>
                <div id="form">
                    <label class="text" for="code">Tên SP:</label>
                    <input class="text" type="text" name="code" id="code">
                    <br>
                    <label for="sl">SL:</label>
                    <input class="text" type="number" name="sl" id="sl">
                    <br>
                    <label for="price">Giá:</label>
                    <input class="text" type="number" name="price" id="price">
                    <br>
                    <label for="name">KH:</label>
                    <input class="text" type="text" name="name" id="name">
                    <br>
                    <label for="addr">Địa chỉ:</label>
                    <input class="text" type="text" name="addr" id="addr">
                    <br>
                    <label for="type">Tình trạng:</label>
                    <br>
                    <input class="radio" type="radio" name="type" id="product1">Vừa đặt hàng
                    <br>
                    <input class="radio" type="radio" name="type" id="product2">Đang sản xuất
                    <br>
                    <input class="radio" type="radio" name="type" id="product3">Đang giao hàng
                    <br>
                    <input class="radio" type="radio" name="type" id="product4">Đã hoàn thành
                    <br>
                    <label for="decribe">Ghi chú: </label>
                    <input class="text" type="text" name="decribe" id="decribe">
                    <br>
                    <button id="change" type="submit" class="btn btn-info">Thay đổi</button>
                    <button id="del" type="submit" class="btn btn-danger">Xóa</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/javascript/admin.js"></script>
