<link rel="stylesheet" type="text/css" media="screen" href="/style/clothes.css" />
<script src="/javascript/clothes.js"></script>

<h2 id="title">Quản lý mẫu áo</h2>

<section id="form">
    <form id="search" class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            <label for="input" class="sr-only">Search</label>
            <input type="text" class="form-control" id="input" placeholder="Search" onkeyup="return search()">
            <img class="icon" src="/images/icon/icon-search.png" alt="">
        </div>

        <a href="#"></a>
    </form>

    <section id="nav">
        <a data-quote="all" href="/admin/clothes">Tất cả</a>
        {{#each type}}
        <a data-quote="{{id}}" href="/admin/clothes/{{id}}">{{Name}}</a>
        {{/each}}
    </section>
</section>

<button type="button" class="new-cloth btn add">Thêm mẫu áo</button>

<section id="fashion">
    {{#each products}}
    <div class="fashion woman" data-code="C001">
        <img id="icon1" src="{{imagepathLarge}}" alt="">
        <p>{{title}}</p>
        <p style="color: #ff8a00">{{pricing}}</p>
        <a><img onclick="return filter(1)" src="/images/admin/icon-info.png" alt="info" class="cursor"></a>
        <a><img onclick="return filter(1)" src="/images/admin/icon-edit.png" alt="edit" class="cursor"></a>
        <a><img onclick="return del(1)" src="/images/admin/icon-del.png" alt="del" class="cursor"></a>
    </div>
    {{/each}}
</section>

<div class="overlay add-cloth" style="display: none;">
    <div class="login-wrapper">
        <div class="login-content">
            <a class="close">x</a>
            <h3>Thêm áo</h3>
            <form>
                <div class="image">
                    <img src="/images/admin/none.jpg" alt="none">
                    <input type="file" name="mf" id="mf">
                    <br>
                    <br>
                    <label for="mu">URL: </label>
                    <input type="url" name="mu" id="mu">
                    <br>
                </div>
                <div id="form">
                    <label for="code">Mã áo:</label>
                    <input class="text" type="text" name="code" id="code">
                    <br>
                    <label for="name">Tên áo:</label>
                    <input class="text" type="text" name="name" id="name">
                    <br>
                    <label for="type">Loại áo:</label>
                    <p>
                        <input type="checkbox" name="type" id="t1">Áo nam &nbsp;&nbsp;
                        <input type="checkbox" name="type" id="t2">Áo nữ</p>
                    <p>
                        <input type="checkbox" name="type" id="t3">Áo nhóm&nbsp;
                        <input type="checkbox" name="type" id="t4">Áo cặp</p>
                    <label for="price">Giá:</label>
                    <input class="text" type="number" name="price" id="price" step="1000">
                    <br>
                    <label for="decribe">Mô tả: </label>
                    <br>
                    <textarea type="text" name="decribe" id="decribe"></textarea>
                    <br>
                    <button id="add" type="submit" class="btn btn-success">Thêm áo</button>
                    <button id="change" type="submit" class="btn btn-info">Thay đổi</button>
                </div>
            </form>
        </div>
    </div>
</div>