<link rel="stylesheet" type="text/css" media="screen" href="/style/customer.css" />
<script src="/javascript/customer.js"></script>

<h2 id="title">Quản lý khách hàng</h2>

<form id="search" class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
        <label for="input" class="sr-only">Search</label>
        <input type="text" class="form-control" id="input" placeholder="Search" onkeyup="return search()">
        <img class="icon" src="/images/icon/icon-search.png" alt="">
    </div>
</form>

<section id="customer">
    {{#each customers}}
    <div class="customer" id="customer{{id}}">
        <img src="/images/admin/customer.png" alt="">
        <div class="decribe">
            <p>MSKH: {{id}}</p>
            <p>Tên: {{name}}</p>
            <p>Địa chỉ: {{address}}</p>
            <p>Email: {{email}}</p>
            <p>Phone: {{phonenumber}}</p>
            <a onclick="return edit('{{id}}')" href="#">Chi tiết >></a>
        </div>
    </div>
    {{/each}}

    {{>pagination}}
</section>

<div class="overlay edit-customer" style="display: none;">
    <div class="login-wrapper">
        <div class="login-content">
            <a onclick="return exit()" class="close">x</a>
            <h3>Khách hàng</h3>
            <form action="/action_page.php" method="post">
                <div class="image">
                    <img src="/images/admin/none.jpg" alt="none">
                    <input type="file" name="mf" id="mf">
                    <br>
                    <br>
                    <label for="mu">URL: </label>
                    <input type="url" name="mu" id="mu">
                    <br>
                </div>
                <div id="form">
                    <label for="code">Mã:</label>
                    <input class="text" type="text" name="code" id="code" disabled>
                    <br>
                    <label for="name">Tên:</label>
                    <input class="text" type="text" name="name" id="name">
                    <br>
                    <label for="addr">Địa chỉ:</label>
                    <input type="text" name="addr" id="addr">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email">
                    <label for="phone">Phone:</label>
                    <input type="tel" name="phone" id="phone">
                    <label for="decribe">Ghi chú: </label>
                    <br>
                    <textarea type="text" name="decribe" id="decribe"></textarea>
                    <br>
                    <button name="action" value="update" type="submit" class="btn btn-info">Thay đổi</button>
                    <button name="action" value="delete" type="submit" class="btn btn-danger">Xóa</button>
                </div>
            </form>
        </div>
    </div>
</div>